
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Info</title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="fontawesome-free-6.1.1-web/css/all.min.css">
    <script type="text/javascript" src="form.js"></script>
</head>
<body onload="onLoad()">
    <nav>
        <ul class="ul">
            <img src="../home/img/logo3.png" class="logo">
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li> 
        </ul>
     </nav>
    <div class="form">
        <form">
            <label for="fname">First name: </label><br>
            <input type="text" id="fname" name="fname" placeholder="Enter your first name">
            <i id="firstNameWarning" class="fas fa-exclamation-circle warning warning-hide"></i>
            <br>


            <label for="Lname">Last name: </label><br>
            <input type="text" id="Lname" name="Lname" placeholder="Enter your last name">
            <i id="lastNameWarning" class="fas fa-exclamation-circle warning warning-hide"></i>
            <br>

            
            


            <label for="Phone">Phone:     </label><br>
            <input type="text" id="phone" name="phone" placeholder="Enter your phone number">
            <i id="phoneWarning" class="fas fa-exclamation-circle warning warning-hide"></i>
            <br>


            <label for="Address1">Address1:   </label><br>
            <input type="text" id="address1" name="address1" placeholder="Enter your address">
            <i id="address1Warning" class="fas fa-exclamation-circle warning warning-hide"></i>
            <br>


            <label for="Address2">Address2:   </label><br>
            <input type="text" id="address2" name="address2" placeholder="Enter your address">
            <i id="address2Warning" class="fas fa-exclamation-circle warning warning-hide"></i>
            <br>


            <label for="City">City:   </label><br>
            <input type="text" id="City" name="City" placeholder="Enter your city name">
            <i id="cityWarning" class="fas fa-exclamation-circle warning warning-hide"></i>
            <br>

            <input type="submit" id = "submit" value="Submit" onclick="onSubmitClick()">
        </form>
    </div>
    <div style="flex-grow:1"></div>
    <div id="footer">
        <ul class="footerUL">
            <div>
                <img src="../home/img/f.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.facebook.com">Facebook</a></li>
            </div>
            <div>
                <img src="../home/img/i.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.instagram.com">Instagram</a></li>
            </div>
            <div>
                <img src="../home/img/w.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.whatsapp.com">WhatsApp</a></li>
            </div>
            <div>
                <img src="../home/img/l.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.linkedin.com">LinkedIn</a></li>
            </div>  
        </ul>
    </div>
</body>
</html>
