<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/cart.css">
    <title>
        Cart
    </title>
    <style>

    </style>
</head>

<body>
    <nav>
        <ul class="ul">
            <img src="../home/img/logo3.png" class="logo">
            <li><a href="../Verfication/logIn.html" id  = "state">LOG IN</a></li>
           <li><a href="../home/home.html">Home</a></li>
           <li><a href="../User/profile.html">Profile</a></li>
        </ul>
     </nav>
     <h1 style="color: #406E3F; text-align: center; margin: 20px;">SHOPPING CART</h1>
     <div class="orderDiv">
        <button class="orderAll">ORDER ALL</button>
     </div>
     
     <div class="tableDiv">
        <table id="shoppingCart" class="table" >
            <thead>
                <tr>
                    <th style="width:20%; color: #406E3F;">Product</th>
                    <th style="width:20%; color: #406E3F;" >Price</th>
                    <th style="width:20%; color: #406E3F;">Quantity</th>
                    <th style="width:20%; color: #406E3F;">Order</th>
                    <th style="width:20%; color: #A70000;">Remove</th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
    <div style="flex-grow:1"></div>
    <div id="footer">
        <ul class="footerUL">
            <div>
                <img src="../home/img/f.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.facebook.com">Facebook</a></li>
            </div>
            <div>
                <img src="../home/img/i.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.instagram.com">Instagram</a></li>
            </div>
            <div>
                <img src="../home/img/w.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.whatsapp.com">WhatsApp</a></li>
            </div>
            <div>
                <img src="../home/img/l.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.linkedin.com">LinkedIn</a></li>
            </div>  
        </ul>
    </div>
    <script src="js/cart.js"></script>
</body>

</html>