<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="css/logIn.css">
</head>
<body>
<div class="signUp-form">
        
    <h1 style="color: #406E3F; margin: 10px;">Login</h1>

        
    <form action="http://localhost:8081/login" method="POST">
        <input id="username" name="username" type="text" placeholder="Email" id="">
        <input id="password" name="password" type="text" placeholder="Password" id="0">
        <br>
        
        <div>
            <div class="clearfix">
                <a href="wellcome.html">
                    <button type="submit" href="wellcome.html" class="login" >LogIn</button>
                </a>
            </div>
        </div>
        <a href="signUp.html"style="color: #406E3F; margin: 5px;">
            <h4 for="text">Sign Up</h4>
        </a>
        <a href="logIn.html" style="color: #406E3F; margin: 5px;">
            <h4 for="text">Forgot Password?</h4>
        </a>
        <a href="../home/home.html"style="color: #406E3F; margin: 5px;">
            <h4 for="text">Continue as a GUEST</h4>
           </a>
    </form>
</div>
</body>
</html>