<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="css/logIn.css">
</head>
<body>
<div id="forget-form">
    <div id="forget-head">
        <h1>Forget Password</h1>
    </div>
    <form>
        <span>
            <input id="forget-view" type="text" placeholder="Enter your email to send new password" >
        </span>
        <br>
        <a href="verify.html">
            <button type="button" id="forget-bt" >send verify code</button>
        </a>
    </form>
</div>
</body>
</html>