<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autofocus Field</title>
    <link rel="stylesheet" type="text/css" href="css/verify.css">
</head>
<body>
<div id="verify-form">
    <div class="container">
        <h1 >Enter Verify Code</h1>
        <div class="userInput">
            <input type="text" id='code'>
        </div>
        <button onclick="verify()">CONFIRM</button>
    </div>
</div>
<script src="js/verify.js"></script>
</body>
</html>
