<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <nav >
       <ul class="ul">
          <img src="img/logo3.png" class="logo">
          <li><a href="../Verfication/logIn.html" id  = "state">LOG IN</a></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="../User/profile.html">Profile</a></li>
          <div class="searchDiv">
              <li class="cart"><a href="../User/Cart.html">
                  CART
                    <label for="text" style="color: #ED3B3B; margin-left: 5px; font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;">
                        3
                    </label></a></li>
              <button class="searchButton">SEARCH</button>
              <input type="text" class="search" placeholder="SEARCH">
          </div>
       </ul>
    </nav>
        <div class="grid-container"></div>
        <div style="flex-grow:1"></div>
        <div id="footer">
            <ul class="footerUL">
                <div>
                    <img src="img/f.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                </div>
                <div>
                    <img src="img/i.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                    <li><a href="https://www.instagram.com">Instagram</a></li>
                </div>
                <div>
                    <img src="img/w.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                    <li><a href="https://www.whatsapp.com">WhatsApp</a></li>
                </div>
                <div>
                    <img src="img/l.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                    <li><a href="https://www.linkedin.com">LinkedIn</a></li>
                </div>  
            </ul>
        </div>
          
    <script src="js/script.js"></script>       
</body>