
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Info</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <nav>
        <ul class="ul">
            <img src="../home/img/logo3.png" class="logo">
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
     </nav>
    <div class="form">
        <form">
            <label for="fname">Full name </label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Email     </label><br>
            <input type="text" id="email" name="email"><br>
            <label for="lname">Phone     </label><br>
            <input type="text" id="phone" name="phone"><br>
            <label for="lname">Address   </label><br>
            <input type="text" id="address" name="address"><br>
            <input type="submit" id = "submit" value="Submit">
        </form>
    </div>
    <div style="flex-grow:1"></div>
    <div id="footer">
        <ul class="footerUL">
            <div>
                <img src="../home/img/f.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.facebook.com">Facebook</a></li>
            </div>
            <div>
                <img src="../home/img/i.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.instagram.com">Instagram</a></li>
            </div>
            <div>
                <img src="../home/img/w.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.whatsapp.com">WhatsApp</a></li>
            </div>
            <div>
                <img src="../home/img/l.png" style="width: 30px;float: left; height: 30px; margin-top: 10px;">
                <li><a href="https://www.linkedin.com">LinkedIn</a></li>
            </div>  
        </ul>
    </div>
</body>
</html>
